<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyShop - Podsumowanie</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>

<div class="main-content">
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">

        <table cellspacing="0">
            <tr>
                <th style="width: 30px;">No.</th>
                <th style="width: 50px;">Obraz</th>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Suma</th>
            </tr>

            <tr th:each="cartItem : ${@cart.cartItems}">
                <td>1</td>
                <td>
                    <img th:src="@{${cartItem.item.imgUrl}}" width="40" height="40" style="border-radius: 50%;">
                </td>
                <td th:text="${cartItem.item.name}"></td>
                <td th:text="${cartItem.counter}"></td>
                <td th:text="${cartItem.price}"></td>
            </tr>
        </table>

        <div class="summary" style="margin-top: 20px;">
            <p><span>Do zapłaty: </span><span th:text="${@cart.sum}"></span> zł</p>
        </div>

        <div class="summary">
            <form th:action="@{/order/saveorder}" method="post">
                <label>Imię</label>
                <input type="text" name="firstName" required>
                <label>Nazwisko</label>
                <input type="text" name="lastName" required>
                <label>Adres</label>
                <input type="text" name="address" required>
                <label>Kod pocztowy</label>
                <input type="text" name="postCode" required>
                <label>Miasto</label>
                <input type="text" name="city" required>
                <button type="submit" class="add-btn">Zamów</button>
            </form>
        </div>

    </div>
</div>

</body>
</html>